# Ignore virtual environments
venv/
my_venv/

# # Ignore the runs folder
# Runs/
# # Ignore the error folder
# Errors/
# # Ignore the scripts folder
# Scripts/

# Ignore model files
*.pt
*/best_model.pt
*/*/*/*/best_model.pt
*/*/*/best_model.pt
*/*/best_model.pt

# Ignore cache files
__pycache__/
*.py[cod]
*.class